/*body {
    padding-top: 10%;
}*/
/*#aboutm, #portfolio, #gtouch, #web {
    padding-top: 10%;
    margin-top: -10%;
}*/
#aboutm, #portfolio,  #web {
    padding-top: 10%;
    margin-top: -10%;
}
#aboutm {
    margin-top: 50px;
}
.navbar-default {
    background-color: #8e8f27;
    background-image: none;
    background-repeat: no-repeat;
    padding-right:3%;
}
.navbar-default .navbar-nav>li>a {
    color: #d9de5e;
}
.navbar-default:hover .navbar-nav>li>a:hover {
    color: #d7b410;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default:hover .navbar-brand:hover {
    color: #dbdb6f;
}
.navbar-default .navbar-toggle {
    border-color: #d9de5e;
    background-color: #d9de5e;
}
.navbar-default:hover .navbar-toggle:hover {
    border-color: white;
    background-color: #d9de5e;
}
.lc {
    color: #FFFFFF;
    font-family: "Playfair Display SC";
    font-size: 6rem;
}
.lc:hover {
    color: #000000;
}
.categories {
    font-family: "Playfair Display";
    font-size: 1.8rem;
}
.initials{
  font-weight:bold;
  

}
.aboutm {
    margin-top: 10%;

    font-family: "Playfair Display";
    margin-bottom: 46%;
}

.portfolio {
    margin-bottom: 40%;
}

.ahead {
    font-size: 3rem;
    text-align: left;
    color: #008d92;
    font-family:"Proxima Nova";
    line-height: 5rem;
}
/*.gtouch {
    align-content: center;
    margin-bottom: 35%;
}
.submitbtn {}*/
.phead, .thead, .whead {
    text-align: center;
    font-family: "Oswald";
    font-size: 6rem;
    font-weight: bold;
}
.phead {
    color: #005b68;
}
.thead {
    color: #4e1e4a;
    margin-bottom: 5%;
}
.whead {
    color: #dd9d02;
    margin-bottom: 15%;
}
.web {
    margin-bottom: 30%;
}
.wells {
    background-color: #bbdddf;
    padding-top: 7%;
    padding-bottom: 2%;
    margin-bottom: 20%;
    border-radius: 1%;
}
.project {
    background-color: #7dc3cb;
    border-color: #7dc3cb;
    text-align: center;
    font-family: "Fauna One";
    margin-bottom: 7%;
    font-size: 2rem;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profile {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.preview {
    margin-bottom: 5%;
}
fieldset {
    margin-top: 2%;
}

/*textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .message:focus {
    border-color: rgba(139, 74, 104,1);
    box-shadow: 0 1px 1px rgba(218, 173, 171, 0.3) inset, 0 0 8px rgba(218, 173, 171, 0.62);
    outline: 0 none;
}*/
.linkedimg, .gitimg, .campimg {
    width: 10%;
    font-size: 2rem;
}
.imgs {
    margin: 0 auto 0 auto;
    text-align: center;
}
.formparent {
    margin: auto;
    width: 30%;
}
#name, #email, #subject, #message {
    font-family: "Oswald";
}
.submit {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 2.5rem;
    color: #e6e1dd;
    background-color: #864d7f;
}
.imglabels {
    width: 100%;
    text-align: center;
}

.linked, .camp, .git {
    font-size: 2rem;
    font-family: "Fauna One";
}
.linked{
  text-align: left;

}

.linkedimg:hover, .gitimg:hover, .campimg:hover{

  opacity: .5;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.git{
  text-align: center;
}
.camp{
  text-align: right;
  color:rgb(0,100,0);
}
